################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/StardewSwitcher/bin/Debug/net8.0-windows
/StardewSwitcher/obj
